<div class="grid grid-container flex flex-wrap justify-content-center">
    <div class="col-12 lg:col-7 xl:col-4">
        <div class="card h-full flex flex-column justify-content-between">
            <div class="flex justify-content-center align-items-center gap-2">
                <img
                    src="/assets/games/tic-tac-toe/strategy-small.png"
                    width="30"
                    height="30"
                />
                <h2>Strategic Games</h2>
            </div>
            <div>
                <p class="text-lg">
                    Welcome to the world of strategy, where every move counts,
                    and planning and tactical thinking are keys to victory! In
                    our diverse catalog of strategic games, you'll find
                    something for yourself, regardless of skill level or
                    interests.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold">Tic-Tac-Toe:</span>
                    A classic game that stands at the origins of the strategic
                    genre. A perfect start for beginners and a fun pastime for
                    veterans.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold">Battleship:</span>
                    Immerse yourself in the world of naval battles and hidden
                    ships. Your task is to unravel the opponent's plan and
                    destroy their fleet. Tactics, logic, and a touch of luck
                    will assist you in this exciting journey.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold">And Much More!</span>
                    Our server offers a wide range of strategic games of various
                    difficulties and styles. From simple board games to complex
                    military simulations – there's an activity here for every
                    strategist.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    We invite you to join us and test your skills in a world
                    where the right move can bring victory, and a mistake can
                    cost kingdoms. Build your empire, command armies, conquer
                    worlds – all within a convenient and friendly interface on
                    our server.
                </p>
            </div>
            <div
                class="flex flex-column w-full justify-content-center align-items-center mt-2"
            >
                <span class="text-lg">Server is available now!</span>
                <p-button
                    label="Join now"
                    icon="pi pi-thumbs-up"
                    styleClass="p-button-lg mt-2"
                    (click)="onConnectToGameServer()"
                ></p-button>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-7 xl:col-4">
        <div class="card h-full flex flex-column justify-content-between">
            <div class="flex justify-content-center align-items-center gap-2">
                <img
                    src="/assets/games/tic-tac-toe/quests-small.png"
                    width="30"
                    height="30"
                />
                <h2>Quests Games</h2>
            </div>
            <div>
                <p class="text-lg">
                    Welcome to the thrilling world of quests! Immerse yourself
                    in captivating adventures, where each puzzle, each decision
                    leads to the unveiling of new secrets and undiscovered
                    realms. Here, your attention to detail, logic, and
                    determination will be truly rewarded.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold"
                        >Riddles of the Abandoned Castle:</span
                    >
                    Explore a mysterious castle filled with riddles and secrets.
                    Solve all the puzzles to unravel a long-forgotten story and
                    find the treasure hidden within its walls.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold">Journey Through Time:</span>
                    Your time machine has broken down at the most inconvenient
                    moment! Solve intricate challenges and overcome obstacles to
                    return home. Every choice affects the story, and every
                    decision can lead to unforeseen consequences.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold">And Much More!</span>
                    From fantasy to science fiction, from historical epics to
                    modern-day adventures – our server offers quests to suit all
                    tastes and complexities.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    Join us and dive into the world of quests, where every step
                    uncovers a new chapter, every task is part of a grand story.
                    Your adventures await you on our server, where a convenient
                    interface and a friendly atmosphere make every game an
                    unforgettable journey.
                </p>
            </div>
            <div
                class="flex flex-column w-full justify-content-center align-items-center mt-2"
            >
                <span class="text-lg"
                    >Unfortunately, the server is currently unavailable.</span
                >
                <p-button
                    label="Join now"
                    icon="pi pi-thumbs-up"
                    styleClass="p-button-lg mt-2"
                    [disabled]="true"
                ></p-button>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-7 xl:col-4">
        <div class="card h-full flex flex-column justify-content-between">
            <div class="flex justify-content-center align-items-center gap-2">
                <img
                    src="/assets/games/tic-tac-toe/casual-small.png"
                    width="30"
                    height="30"
                />
                <h2>Casual Games</h2>
            </div>
            <div>
                <p class="text-lg">
                    Welcome to the diverse world of casual games! Here, everyone
                    will find something to enjoy, be it a quick game on a break
                    or a fun pastime with friends. Easy to learn but engaging,
                    these games are suitable for all ages and skill levels.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold"
                        >Bella the Butterfly's Adventures:</span
                    >
                    Help Bella, a charming butterfly, fly through the magical
                    garden, collecting flowers and avoiding obstacles. Simple
                    controls and bright graphics make this game a favorite among
                    younger players.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold">Space Taxi Racers:</span>
                    Become a space taxi driver, serving clients on various
                    planets. Fast rides, exciting routes, and cheerful
                    passengers promise hours of enjoyable gameplay.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold">And Much More!</span>
                    From puzzles to arcades, from simulators to mini-games – our
                    server offers a wide spectrum of casual games to enjoy at
                    any time.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    Join us and indulge in casual games that bring pleasure and
                    relaxation. Whether you're looking for a quick game to pass
                    the time or something more substantial – our server offers
                    entertainment for everyone. A convenient interface and a
                    friendly environment await you here!
                </p>
            </div>
            <div
                class="flex flex-column w-full justify-content-center align-items-center mt-2"
            >
                <span class="text-lg"
                    >Unfortunately, the server is currently unavailable.</span
                >
                <p-button
                    label="Join now"
                    icon="pi pi-thumbs-up"
                    styleClass="p-button-lg mt-2"
                    [disabled]="true"
                ></p-button>
            </div>
        </div>
    </div>
</div>
