<div class="card grid grid-container justify-content-center">
    <div class="col-12 lg:col-6 xl:col-6">
        <div
            class="h-30rem flex flex-column justify-content-between align-items-center mr-2"
        >
            <div class="flex justify-content-center align-items-center gap-2">
                <img
                    src="/assets/games/tic-tac-toe/strategy-small.png"
                    width="30"
                    height="30"
                />
                <h2>Welcome to the Strategic Games Server!</h2>
            </div>

            <div>
                <p class="text-lg">
                    You've set foot in a land where every battle is a
                    masterpiece of the mind, and every move is a craft of
                    strategy. Here, great warriors fight not only with the might
                    of arms but with the power of intellect.
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold"
                        >What awaits you on this server?</span
                    >
                    Here you'll find engaging and intellectual games, from
                    classic chess to thrilling military simulations. Whether
                    you're a novice in the world of strategy or an experienced
                    general, we have something for you. Join the battles, ally
                    with others, and showcase your strategic prowess!
                </p>
            </div>
            <div class="mt-2">
                <p class="text-lg">
                    <span class="font-bold">If you ever wish to leave...</span>
                    We know that the world of strategic games can be rich and
                    absorbing, but if you ever wish to leave our lands, we will
                    await your return. The button to depart is always at hand,
                    but remember: great warriors always return to the
                    battlefield!
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-6">
        <div class="flex flex-column justify-content-between ml-2 mt-3">
            <div>
                <h3 class="text-center">Create the game:</h3>
                <p-table
                    [value]="(availableGamesList$ | async) ?? []"
                    class="game-table text-lg"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Game</th>
                            <th>Create</th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        ngFor
                        let-game
                        [ngForOf]="availableGamesList$ | async"
                    >
                        <tr>
                            <td class="uppercase">{{ game }}</td>
                            <td>
                                <p-button
                                    label="Create"
                                    icon="pi pi-plus"
                                    styleClass="p-button-sm p-button-success"
                                    (click)="onCreateGame(game)"
                                ></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <h3 class="text-center mt-5">Join the game:</h3>
                <p-table
                    [value]="(waitingGamesList$ | async) ?? []"
                    class="game-table"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Game</th>
                            <th>Join</th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        ngFor
                        let-game
                        [ngForOf]="waitingGamesList$ | async"
                    >
                        <tr>
                            <td class="uppercase">{{ game.gameName }}</td>
                            <td>
                                <p-button
                                    label="Join"
                                    icon="pi pi-sign-in"
                                    styleClass="p-button-sm p-button-success"
                                    (click)="onJoinGame(game.sessionId)"
                                ></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <div
                    *ngIf="!(waitingGamesList$ | async)?.length"
                    class="text-center mt-2"
                >
                    There are no games to join. You can create your own game
                </div>

                <div class="w-full flex justify-content-end mt-6">
                    <p-button
                        label="Leave Server"
                        icon="pi pi-sign-out"
                        styleClass="p-button-sm p-button-danger"
                        (click)="onLeaveServer()"
                    ></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
