<div
    class="surface-ground flex flex-column align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <mc-logo></mc-logo>
    <div class="gradient-container">
        <div class="surface-card py-5 px-5">
            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-medium mb-3">
                    {{ 'auth.login.welcome' | translate }}!
                </div>
                <div class="text-600 font-medium">
                    {{ 'auth.login.header' | translate }}
                </div>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <span class="p-float-label mb-5">
                    <input
                        id="username"
                        pInputText
                        formControlName="username"
                        type="text"
                        class="w-full p-3 md:w-30rem"
                    />
                    <label for="username">{{
                        'auth.login.username' | translate
                    }}</label>
                </span>

                <div
                    class="flex align-items-center justify-content-between mb-5 gap-5"
                >
                    <div class="flex align-items-center">
                        <p-checkbox
                            id="rememberme"
                            formControlName="isRememberMe"
                            [binary]="true"
                        ></p-checkbox>
                        <label for="rememberme" class="ml-2">{{
                            'auth.login.rememberme' | translate
                        }}</label>
                    </div>
                </div>

                <button
                    pButton
                    pRipple
                    type="submit"
                    label="{{ 'auth.login.signin' | translate }}"
                    class="w-full text-xl mb-3"
                    [disabled]="loginForm.invalid || submitted"
                ></button>
            </form>
        </div>
    </div>
</div>
